<div class="pb-14 px-5 lg:pb-[32px]">
  <p class="font-shape text-[14px] font-light leading-[20px] text-center lg:max-w-[658px] lg:mx-auto tracking-[ 0.067px] text-[#222222]">
    {{ text }}
  </p>
</div>
