{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:19+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            3fc000e7cc99bead4dbca1213983fffe
//      Signature:      eyJpdiI6InpVbGo4K1dHUm9sMCtoTGdxZ1M1WXc9PSIsInZhbHVlIjoiV0hOVk1wTnh1SHBBRHJkOExGRVVVQ2h1OVpGdG5SMGFTWU9KVnl1b1JxK1RHU0sxcHd1aVJZbWt2OTR3VldQUXVpcGp1SzBycnVBSjA5N0swRk5INnBWTDRZN2p0TTNPMTQwT0huN01JVHI2UFdXTEMzUEJZRzBmTGN2MWdqWjFuVDF2U0tCVER4NDNIZndzQXhFdnV6dVZHeU1xSFlETGlDZ2Rxd1JrbW1YUmtJSXVlSFV3MkFMdFRsXC9iYlhEd1FFQUI2WXB5TEZFa3ByN2RnWHhxOVV6ZW9taStvd0lhaHl2SjNidldPYlcybW5PN21jQUFLZkd3UDZpZE05V1pWeFlcL214WWYzMWJsZzBLdmdKd043YnRkU2xxbSs1aXo5VEtrSzBPcHgzejFkeWdneFk0Rnh4a2lITE9sZHU4OTdmMnpTS01nWkg5TEZ1cVVkQXNJWXhZaWtxNTVRRFwvWnZPNHlFSG9UZ1BBY3QyUnFuRkE0K0ZcL1o1UFozRTFKMlRORlwvRG1BemhLRkV4cFlmU3hYQVwvUT09IiwibWFjIjoiNTBiYzg4MTBhMzNlZWViNDIyZjg2ODgwZGViZmM5ZjhkYzc1MjM1NTY3YmIxNzE0Y2VlMDJhOWY1N2UwZWZlOCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% comment %}Notify Me Popup {% endcomment %}
<div class="notify-popup hide">
    <div class="background-overlay"></div>

    <div class="notify-popup__container">
        <div class="notify-popup__close">{%- render 'icons', icon: 'close' -%}</div>
        <h2 class="notify-popup__title">Be notified when '<span id="popup-title"></span>' launches</h2>
        <p class="notify-popup__description">Leave your email address below and we'll notify you when this popup launches</p>
        <div class="notify-popup__klaviyo">
            <div class="klaviyo-form-TT4mcz"></div>
        </div>
    </div>
</div>