{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:20+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            39fdef8d871a1ee5659b5be9c6bd04ce
//      Signature:      eyJpdiI6ImR6QW9BSVdQdnIwT2pPUFFrbkt3WWc9PSIsInZhbHVlIjoiVjRyeWdIWHpMT3FzMjhmd2ZGbWpaZU9ZaWZNUk9vSTF3d3dXUGdyV0NITys4blI5dHB4WWoyVjVERWdKZENUalMzVW1GUk9GNmNrMGh2VGh5TmwxTjViU280d3dhZzM5bjhDTWdqcnJYMVE3XC9uZitQbXhIZVE5Z2kzNWZVS2lFUFZaR1pjYzVJSHdSTytHZlRBK3BmSE5xT1wvY1laZFpnWE13b0JLWmhTekFCVGxYYkN5bEFZXC80RWNuMmh2ZThWVUl1TU1kYklXdzJNMjRUZzlubGJ3NStLVWNMZEtvOUhhdGpnQkdINTdpMnVKRjlhUUR4MFdZcUZ1b0xjZU05NE1JajhvVWgwcG1WZ20zYzJreE5KVTZtVUNNcXU2cXVFR2hmSUozcmcwRlhjRVVcLzB0NUtiS0pSVXNZSmwzemRXb2NSTWdrcTRZN1dMWE5XdUZoSVBDV2gyNnZ1Q1BLVkY5TkpMelpnaEM0RmllSDJXdUNBTGU0aCtheWhRN00zQU9WMVwvb3F3dW5sWEZCeG1tejJiQXFBPT0iLCJtYWMiOiIzMThkNjEyYzZlYjk1Yzc5ZDQwZWEwY2VmYzQ3NGMwNTIxMDZhMGRkZTA0ZGYzM2JkNzM3YzA0ZTQ4ZTFhODJkIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="fab contact-button" 
    data-contact-pop-up
    data-change-class='[{"elem": ".contact-popup", "class":"open"}]'
>
    {%- render 'icons', icon: 'chat-text'-%}
</div>