{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:37+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            6522b8d4933e477969343dc2c2807ce2
//      Signature:      eyJpdiI6Ik84MlhEU1wva3h6b0d6NUFsdVB3SUxnPT0iLCJ2YWx1ZSI6IkZaaDZTd0FPQjBUeVBVM1dFMVZvYW1QaGZ2Zytad3dHMVJzQzZVVEdKaXFBWmxrcWR5SFFYaUd2K2dBK21nQWI3RDk3Slo5T3ZvSFVJcm9IN0duMDIraVwvVzY4NFwvQkd2dHVHYndWblIyTERRK3BVU0pyOVpJXC9KOU1KUENVWmFGTlJ1ZDhQT213SnV5MTBiWHNpMmkwWitXUW1aSW11bGRjY2pCMnNoUjFMSWlUTU13U1RURHJ3dXhDV1wvM2F4dFYyY3duUWxYcnVERVwvMUZablVrdnBnOUJXc0JrVVwvS0JMRUUwSTNZdXBcL3lcL1h1bmRRS09OK0hJOURYOEhQN0QrZnk3WUI3WWVxb0x6UVU1Mk5PMmpRTnhuMzQ1bVZ1bHhEYVhzQ3Y1emZRaFQ2ZEltK2h0UllBS1FaNWZqanp0cTJpTVlOZitIaGxsaUJ5WTVSWHNsQWZjazBMWlJzNkZQWWtWSmcxYkxabHJXeFB0amltdkpOSWUySlljb0dJMmNTU2pidnFDVzI2ZlJYbEtia1JCS21FZz09IiwibWFjIjoiMzcxMjM4M2ZkOTk4YTgxM2IxYWZkMzRhNDc2MjY3ZDk5MmY5N2NlNmU4NTI5YmE3ZWQ5NDA0YTY3OWMxMGM3OSJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{%- if section.settings.show -%}

    <div class="covet-pics-standard-gallery-section">
        <h2 style="color: #000000; font-size: 22px; text-align: center; margin: 0;" class="covet-pics-standard-gallery-section-title">
        #Threadscollective
        </h2>  
    </div>
    <covet-pics-widget gallery-embed-id="{{ section.settings.embed_id | default: '210637' }}"></covet-pics-widget>

{%- endif -%}

{% schema %}
    {
        "name": "Instagram",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show section",
                "default": false
            },
            {
                "type": "text",
                "id": "embed_id",
                "label": "Embed ID",
                "default": "210637"
            }
        ]
    }
{% endschema %}