<div class="py-lg">
  <h1 class="title--lg fw-500 fnt-sec uc mb-lg">{{ page.title }}</h1>

  <div class="page__content rte">
      {{ page.content }}
  </div>
</div>


{% schema %}
{
  "name": "Standard Page Template",
  "tag": "section",
  "class": "page container my-lg",
  "settings": [

  ]
}
{% endschema %}
