<div class="container--xs article__content">
    <div class="rte">
        {{ article.content }}
    </div>
</div>

{% schema %}
    {
        "name": "2.0 Blog Body",
        "settings": [],
        "presets": [
            {
                "category": "Image",
                "name": "2.0 Blog Body",
                "settings": {}
            }
        ]
    }
    
    {% endschema %}
    